@import "variables";
@import "mixins";

// Global Components
html,
body {
   height: 100%;
   width: 100%;
}

body {
   color: $text-color;
   font: 12px/1.8 "open sans", sans-serif;
   letter-spacing: 1px;
}

a {
   color: $theme-primary;
   @include transition-all;
   &:focus,
   &:hover {
      color: lighten($theme-primary, 5%);
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
   line-height: inherit;
   margin: 16px 0;
}

p {
   margin-bottom: 22px;
}

.lead {
   font-size: 14px;
   font-weight: inherit;
   line-height: 2.4;
   margin-bottom: 22px;
   @media #{$break-sm-min} {
      font-size: 16px;
   }
}

strong {
   font-size: 24px;
   font-weight: 700;
}

// Navigation
.navbar-default {
   background-color: $theme-primary;
   border-style: none;
   @include transition-all;
   .navbar-header {
      .navbar-brand {
         color: white;
         font-weight: 700;
         text-transform: uppercase;
      }
      .navbar-toggle {
         border-style: none;
         .icon-bar {
            background-color: white;
            @include transition-all;
         }
         &:focus,
         &:hover {
            background-color: transparent;
            .icon-bar {
               background-color: $theme-accent;
            }
         }
      }
   }
   .navbar-collapse {
      border-style: none;
   }
   .nav {
      > li {
         > a {
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            &:focus,
            &:hover {
               color: $theme-accent;
            }
         }
         &.active {
            > a {
               &,
               &:focus,
               &:hover {
                  background-color: transparent;
                  color: $theme-accent;
               }
            }
         }
      }
   }
   @media (min-width: 768px) and (min-height: 590px) {
      background-color: transparent;
      padding: 18px 0;
      .navbar-header {
         .navbar-brand {
            font-size: 22px;
            padding: 14px 15px 16px;
         }
      }
      &.affix {
         background-color: $theme-primary;
         padding: 0;
         .navbar-header {
            .navbar-brand {
               font-size: 18px;
               padding: 15px 15px;
            }
         }       
      }
   }
}

// Intro
header {
   background-image: url("../img/header.jpg");
   background-position: center center;   
   background-repeat: no-repeat;
   background-size: cover;
   .intro-inner {
      background-color: rgba($theme-dark, .8);
      padding: 120px 0;
   }
   .intro-heading,
   .intro-lead-in {
      color: white;
      letter-spacing: 8px;
      text-transform: uppercase;      
   }
   .intro-heading {
      font-size: 44px;
      font-weight: 700;   
      margin-bottom: 52px;
   }
   .intro-lead-in {
      font-size: 28px;
   }
   @media (min-width: 768px) and (min-height: 590px) {
      .intro-inner {
         padding: 220px 0 170px;
      }
      .intro-heading {
         font-size: 68px;
      }
      .intro-lead-in {
         font-size: 38px;
      }
   }
}

// Bootstrap Overrides
.text-primary  {
   color: $theme-primary;
}

.text-accent {
   color: $theme-accent;
}

.no-gutter > [class*="col-"] {
   padding-right: 0;
   padding-left: 0;
}

// Buttons Styles
.btn-default {
   @include btn-variant($theme-accent, $theme-dark);
}

.btn-primary {
   @include btn-variant($theme-primary, white);
}

.btn {
   border: none;
   border-radius: 0;
   font-size: 14px;
   font-weight: 700;
   min-width: 180px;
   text-transform: uppercase;
   &:focus {
      @include box-shadow(none);
   }
}

.btn-xl {
   height: auto;
   padding: 11px 24px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
   background-color: $theme-primary;
   color: white;
   text-shadow: none;
}

::selection {
   background-color: $theme-primary;
   color: white;
   text-shadow: none;
}
