@import "variables";
@import "mixins";

/* ------------------------------

   Global Components
 
--------------------------------- */

html,
body {
   height: 100%;
   width: 100%;
}

body {
   color: $text-color;
   font: 12px/1.8 "open sans", sans-serif;
   letter-spacing: 1px;
}

a {
   color: $theme-primary;
   @include transition-all;
   &:focus,
   &:hover {
      color: lighten($theme-primary, 5%);
   }
}

hr {
   border-style: none;
   margin: 12px 0 46px;
   &::before {
      display: block;
      font-size: 16px;
      content: "~~~~~~~~~ :: ~~~~~~~~~";
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
   line-height: inherit;
   margin: 16px 0;
}

p {
   margin-bottom: 22px;
}

.lead {
   font-size: 14px;
   font-weight: inherit;
   line-height: 2.4;
   margin-bottom: 22px;
   @media (min-width: 768px) {
      font-size: 16px;
   }
}

strong {
   font-size: 24px;
   font-weight: 700;
}

.no-padding {
   padding: 0;
}

/* ------------------------------

   Navigation 
 
--------------------------------- */

.navbar-default {
   background-color: $theme-primary;
   border-style: none;
   @include transition-all;
   .navbar-header {
      .navbar-brand {
         color: white;
         font-weight: 700;
         text-transform: uppercase;
      }
      .navbar-toggle {
         border-style: none;
         .icon-bar {
            background-color: white;
            @include transition-all;
         }
         &:focus,
         &:hover {
            background-color: transparent;
            .icon-bar {
               background-color: $theme-accent;
            }
         }
      }
   }
   .navbar-collapse {
      border-style: none;
   }
   .nav {
      > li {
         > a {
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            &:focus,
            &:hover {
               color: $theme-accent;
            }
         }
         &.active {
            > a {
               &,
               &:focus,
               &:hover {
                  background-color: transparent;
                  color: $theme-accent;
               }
            }
         }
      }
   }
   @media (min-width: 768px) and (min-height: 590px) {
      background-color: transparent;
      padding: 18px 0;
      .navbar-header {
         .navbar-brand {
            font-size: 22px;
            padding: 14px 15px 16px;
         }
      }
      &.affix {
         background-color: $theme-primary;
         padding: 0;
         .navbar-header {
            .navbar-brand {
               font-size: 18px;
               padding: 15px 15px;
            }
         }       
      }
   }
}

/* ------------------------------

   Intro 
 
--------------------------------- */

header {
   background-image: url("../img/header.jpg");
   background-position: center center;   
   background-repeat: no-repeat;
   background-size: cover;
   .intro-inner {
      background-color: rgba($theme-dark, .8);
      padding: 120px 0;
   }
   .intro-heading,
   .intro-lead-in {
      color: white;
      letter-spacing: 8px;
      text-transform: uppercase;      
   }
   .intro-heading {
      font-size: 44px;
      font-weight: 700;   
      margin-bottom: 52px;
   }
   .intro-lead-in {
      font-size: 28px;
   }
   @media (min-width: 768px) and (min-height: 590px) {
      .intro-inner {
         padding: 220px 0 170px;
      }
      .intro-heading {
         font-size: 68px;
      }
      .intro-lead-in {
         font-size: 38px;
      }
   }
}

/* ------------------------------

   Sections Styles
 
--------------------------------- */

.section-heading {
   padding: 82px 0 40px;
   .section-title {
      color: $theme-primary;
      font-size: 48px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
   }
   p {
      margin-bottom: 0;
   }
}

.section-content {
   padding: 40px 0 82px;
}

/* ------------------------------

   About Section
 
--------------------------------- */

// -- Features List
.features-list {
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   li {
      float: left;
      margin-bottom: 34px;
      width: 100%;
      @media (min-width: 768px) {
         border-right: 1px solid lighten($text-color, 38%);
         margin-bottom: 0;         
         width: 50%;
         &:nth-child(2n) {
            border-style: none; 
         }
      }
      @media (min-width: 990px) {
         width: 25%;
         &:nth-child(2n) {
            border-right: 1px solid lighten($text-color, 38%);
         }
         &:last-of-type {
            border-style: none; 
         }
      }
   }
}

.feature-box {
   @media (min-width: 768px) {
      padding: 40px;
   }
   p {
      margin-bottom: 0;
   }
}

/* ------------------------------

   Services Section
 
--------------------------------- */

#services {
   background-color: $theme-bg;
   @media (max-width: 767px) {
      text-align: center;
   }
   // -- Section heading and content
   @media (min-width: 768px) {
      .section-heading {
         padding: 0 0 40px;
      }
      .section-content {
         padding: 0;
      }
   }
   // -- Two Column
   .two-col {
      .content-col {
         margin-bottom: 84px;
      }
      &:last-of-type {
         .content-col {
            margin-bottom: 0;
         }
      }
      .left,
      .right {
         &.hidden-col {
            display: none;
         }
      }
      .img-col {
         opacity: .2;
      }
      @media (min-width: 768px) {
         position: relative;
         .wrapper {
            height: 960px;
         }
         .img-col {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
         }
         .left,
         .right {
            height: 100%;
            width: 50%;
            &.hidden-col {
               display: block;
            }
         }
         .left {
            float: left;
         }
         .right {
            float: right;
         }
         .content-col {
            left: 0;
            margin: 0 auto !important;
            position: absolute;
            right: 0;
            top: 50%;
            @include transform(translateY(-50%));
         }
      }
      @media (min-width: 992px) {
         .wrapper {
            height: 760px;
         } 
      }
   }
}

// -- Services List
.services-list {
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   li {
      margin-bottom: 34px;
   }
   @media (min-width: 768px) {
      li {
         float: left;
         width: calc(50% - 14px);
         &:nth-child(2n+1) {
            margin-right: 28px;
         }
      }
   }
}

.service-box {
   p {
      margin-bottom: 0;
   }
}

/* ------------------------------

   Porfolio Section
 
--------------------------------- */

.porfolio-box {
   overflow: hidden;
   img {
      margin: 0;
      width: 100%; 
   }
   .porfolio-box-content {
      padding: 24px 15px;
   }
   @media (min-width: 768px) {
      position: relative;   
      .porfolio-box-content {
         background-color: rgba($theme-primary, .8);
         color: white;
         height: 100%;
         left: 0;
         opacity: 0;         
         position: absolute;
         top: 0;
         @include transition-all;         
         width: 100%;
         &:hover {
            opacity: 1;
         }
      }
   }
}

/* ------------------------------

   Contact Section
 
--------------------------------- */

#contact {
   .content {
      background-color: lighten($theme-dark, 5%);
   }
}

/* ------------------------------

   Footer
 
--------------------------------- */

footer {
   background-color: $theme-dark;
   padding: 18px 0;
   .copy {
      color: lighten($theme-dark, 50%);
      text-transform: uppercase;
   }
}

/* ------------------------------

   Bootstrap Overrides
 
--------------------------------- */

.text-primary  {
   color: $theme-primary;
}

.text-accent {
   color: $theme-accent;
}

.no-gutter > [class*="col-"] {
   padding-right: 0;
   padding-left: 0;
}

/* ------------------------------

   Form Styles
 
--------------------------------- */

.form-group {
   margin-bottom: 54px;
}

input,
select,
textarea {
   &.form-control {
      background-color: transparent;
      border-style: none;
      border-bottom: 2px solid lighten($theme-dark, 50%);
      border-radius: 0;
      @include box-shadow(none);
      color: lighten($theme-dark, 50%);
      height: auto;
      padding: 0 28px 18px;
      text-align: center;
      text-transform: uppercase;      
      &:focus {
         border-color: $theme-primary;
         @include box-shadow(none);
      }
   }
}

textarea {
   &.form-control {
      resize: none;
   }
}

/* ------------------------------

   Buttons Styles
 
--------------------------------- */

.btn-default {
   @include btn-variant($theme-accent, $theme-dark);
}

.btn-primary {
   @include btn-variant($theme-primary, white);
}

.btn {
   border: none;
   border-radius: 0;
   font-size: 14px;
   font-weight: 700;
   min-width: 180px;
   text-transform: uppercase;
   &:focus {
      @include box-shadow(none);
   }
}

.btn-xl {
   height: auto;
   padding: 11px 24px;
}

/* ------------------------------

   Extras
 
--------------------------------- */

// -- Highlight Color Customization
::-moz-selection {
   background-color: $theme-primary;
   color: white;
   text-shadow: none;
}

::selection {
   background-color: $theme-primary;
   color: white;
   text-shadow: none;
}
